.aboutpage{
    height: 100vh;
    width: 70vw;
    margin: auto;
    text-align: left;
  }
.aboutpage .heading {
    text-align: left;
    font-family: sans-serif;
    line-height: 4rem;
    font-weight: 600;
    font-size: 3.2rem;
}
.aboutpage .heading .row
{
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
}

.aboutpage .heading .row ul{
    list-style: none;
    padding: 0;
    text-align: left;
    font-weight: normal;
    margin: 0;
    line-height: 2.6rem;
    margin-right: 5vw;

}
.aboutpage .heading .row ul li {
    color: black;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
    list-style: none;
    color: grey;
}
.aboutpage .heading .row ul .topic{
    margin-bottom: 2.5vh;
    color: black;
    margin-top: 5vh;
    font-weight: bold;
}
.aboutpage .heading .row .list {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}
.aboutpage .heading .row ul  .heading {
   font-size: 1.8rem;
   font-weight: 400;
   
}
.aboutpage .row {
    border: 0;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

.aboutpage .text1 {
    align-self: center;
    color: grey;
    width: 20vw;
    font-size: 1.2rem;
    line-height: 2rem;
}
.aboutpage .rowimg {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}
.aboutfooter {
    
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: double 1px grey;

}
.aboutfooter img {
    width: 50vw;
    
    
}
.aboutfooter.crane {
    height: 3rem;
    
}
.aboutfooter .title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: .2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: flex;
    font-family: 'Caladea', serif;

}
.address {
    font-family: 'Caladea', serif;
}
.tagline {
    font-weight: 550;
    font-size: 1rem;
    color: steelblue;
}

.indiaport {
    position: absolute;
    top: 2vh;
    left: 0;
}
@media only screen and (max-width: 800px) {
.aboutpage{
    width: 93vw;
    height: auto;
}

}