
.carousal {
    display: flex;
    position: relative;
    background:white;
    height: 35vh;
    border:solid black 1px;
   
    padding: 2vh;
  
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    

}
 

.carousal .cards {
    width: 80%;
    display: flex;
    position: relative;
    overflow-x: auto;
    
  
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.smallScreen{
    display: none;
}
@media only screen and (max-width: 800px) {
    .bigScreen{
        display: none;
    }
    .smallScreen{
        display: block;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 40vh;
    }
 }