.cbmCalculator{
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: fit-content;
 
}
.cbm-heading {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1rem;
}
.cbmCalculatorContainer {
    background-color:#bad6e6;
    width: 40vw;
    margin: auto;
    min-width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 10vh;
    justify-content: center;
    height: 70vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}