.companies{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
   
    
    justify-content: space-between;
}
.logo{
    height:3rem;
    width: auto;
    opacity: .7;
}
.wrapper {
    display: flex;
    flex-direction: column;
    background: #f7f0f7;
    margin-top: 6rem;
    justify-content: center;
    width: 80%;    

    margin:auto;
    margin-top: 6rem;
   

}
.wrapper .rating{
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 400;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.companies .item{
    font-size: 3rem;
    font-weight: bold;
   flex-direction: column;
    text-align: center;
    margin-top: 2rem;
  
}
.item .info {
    font-size:1rem;
    margin-top: 1rem;
    font-weight: 400;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}

@media only screen and (max-width: 600px) {

    .companies {
        grid-template-columns: auto auto  ;
        display: grid;
        grid-gap: 20px;
        column-gap: 0px;
    }
   
}

