.step {
    background-color: #E6F0FF;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 35rem;
    min-height: fit-content;
    margin-top: 4rem;
    width: 43vw;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    justify-content: space-between;
    color:grey;
    min-height: fit-content;

   

}

.dutyCalRow {
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: space-between;

}

.stepHeading {
    font-size: 2rem;
    color:grey;
    font-weight: 700;
    text-align: center;
}

.inputRow {
    display:flex;
    justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
    .dutyCalRow{
        flex-direction: column;
    }
    .step {
        width:90vw;
        margin:auto;
    }
}