.footer {
    border-top: solid 1px grey;
    width: 100vw;
    padding:3vh;
    padding-bottom: 2vh;
    display:"flex";
    position: relative;
    
    
   
}
.footer img {
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 40vw;
}
.pair {
    display: flex;
    justify-content: space-around;
    width: 100%}
li {
    list-style: none;
    margin-bottom: .3rem;
    color: #cad0db;
}
.about {
    margin-bottom: .8rem;
    font-size: 1.1rem;
    color: white;
    border-bottom-width:.3px;
   border-bottom: solid;
   border-color: cad0db;
  padding-bottom: .5rem;
}
.abouts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.elem{
    display: flex;
    text-align: center;
    align-self: center;
    justify-self: center;

}

@media only screen and (max-width: 600px) {
    .footer .img {
        width: 80vw;
    }
    
    .footer{
        flex-direction: column;
        padding:0;
        align-items: center;

    }
    ul {
        list-style: none;
    }
   
    .element{
        height:40vw;
        width: 40vw;
        margin-top: 2rem;
        margin:auto
    }
    .abouts {
         
           display: flex;
           flex-direction: column;
           margin: auto;
           align-items: center;
           

        }
  }
