.footer {
    background: #2730ab;
    color:whitesmoke;
    padding:5rem;
    padding-bottom: .2rem;
    display:"flex";
    
   
}
.pair {
    display: flex;
    justify-content: space-evenly;
    width: 100%}
li {
    list-style: none;
    margin-bottom: .3rem;
    color: #cad0db;
}
.about {
    margin-bottom: .8rem;
    font-size: 1.1rem;
    color: white;
    border-bottom-width:.3px;
   border-bottom: solid;
   border-color: cad0db;
  padding-bottom: .5rem;
}
.abouts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.element{
    display: flex;
    text-align: center;
    align-self: center;
    justify-self: center;

}

@media only screen and (max-width: 600px) {
    .footer{
        flex-direction: column;
    }
    ul {
        list-style: none;
    }
    .pair{
        flex-direction: column;
        
    }
    .element{
        height:40vw;
        width: 40vw;
        text-align: center;
        align-self: center;
    }
    .abouts {
         
            display: flex;
            flex-direction: column;
           
           
        
    
    }
  }
