body {
    overflow-x: hidden;
}
.homepage {
    text-align: center;
    background-color: #F1F7FF;

   height: 100vh;
  
}
.text {
    
    widows: 80%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.8rem;
    color:#3d3d3d;
   
}
.phone {
    display: none
}


.inputs {
    display:flex;
    flex-direction: row;
    
    padding:2rem 1rem;
    justify-content: center;
    width: fit-content;
    background:#F1F7FF;
    margin: auto;
    margin-top: 0rem;
}
.single{
    display:flex;
    flex-direction: column;
    color:rgb(147, 147, 192);
    font-size: 1rem;
    text-align: start;
    
}

.details {
    font-size:.8rem;
}

.second{
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    color: #3d3d3d;
    text-align: center;
    width: 80%;
    margin:auto;
    
}
.blue {
    margin-left: 1.5rem;    
}

@media only screen and (max-width: 1200px) {
    .inputs{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-self: auto;
        align-items: "center";
        justify-content: "center"
      
    }
    .text {
        font-size: 2rem;
    }
    .blue{
        margin:0;
        width:auto;
    }
  
    .phone {
        display: block;
    }
    .desktop {
        display:none;
    }
    .animation {
    display: none;
    }
    .homepage {
       
        
       height: auto;
      
    }
    .second{
        font-size: 1.5rem;
    }
  }

 