.homepage {
    text-align: center;
}
.text {
    
    widows: 80%;
    text-align: center;
    font-weight: 300;
    font-family: 'Source Serif Pro', serif;
    font-size:2.8rem;
    color:rgb(121, 121, 121);
    
}

.inputs {
    display:flex;
    flex-direction: row;
    margin-top: 6rem;
    padding:2rem 1rem;
    justify-content: center;
    width: fit-content;
    background:#d7ebf7;
}
.single{
    display:flex;
    flex-direction: column;
    color:#7ea6e6;
    font-size: 1rem;
    
}

.details {
    font-size:.8rem;
}

.second{
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    padding-left:4rem;
    padding-right:4rem;
    text-align: center;
    
}

@media only screen and (max-width: 1200px) {
    .inputs{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-self: auto;
      
    }
  }