
.cards{
    display: flex;
    flex-direction: column;
    font-family: 'Source Serif Pro', serif;
    color:#6d6f78;
    font-size: 1.2rem; 
    width: 80%;
    margin:auto;
    margin-top:20vh;
    align-items: center;
   
    
}
.heading {
    font-size: 3rem;
    margin-bottom: 10vh;
    line-height: 2.8rem;
    margin-top: 10vh;
}

.row {
    border-top: solid black 2px;
    display:flex;
    flex-direction: row;
    text-align: left;
    width: 80vw;
    padding-top:10vh;
    justify-content: space-evenly;

}
.topic{
    font-family: 'Source Serif Pro', serif;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.even {
    margin-top: 5rem;
    width: 40rem;
    align-self: flex-end;
}
.odd {
    margin-top: 5rem;
    width: 40rem;
}

@media only screen and (max-width: 1200px) {
    .row {
        display:flex;
        flex-direction: column;
        
       
      border-top:0;
        
    }

    
.cards{
    width:90%;
    margin:auto;
    margin-top:20vh;
    }
}