.features {
   
    width:80%;
    margin:auto;
    display: flex;
    flex-direction: column;
    font-family: 'Source Serif Pro', serif;
    font: 1.2rem;
    color: grey;
}

.feature .text{
    align-self: center;
    width: 25vw;
    font-size: 1rem;
    text-align: left;
    font-family: 'Source Serif Pro', serif;
    color: grey;
    
}
.smallscreen{
    display: none;
}
.feature {
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}
.feature img {
    height: 40vh;
}
.even {
    align-self: flex-end;
}
.features .feature .Name {
    font-size: 1.5rem;
    margin-bottom: 1vh;
}
@media only screen and (max-width: 600px) {
    .features{
        width: 90vw;

        text-align: center;
    }
    
    .feature{
    width: 90vw;
    flex-direction: column;
    margin: auto;
    
    }
    .feature .text {
        margin-top: 2vh;
        width: 80vw;
        margin-bottom: 4vh;
    }
    .bigscreen {
        display: none;
    }
    .smallscreen{
        display: flex;
    }
}
