.services{
    background:#edf7fc;
    margin-top: 5vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;    font-size: 2vh;
    padding: 2vh;
    display:flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    width: fit-content;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;


}
.four{
    display: flex ;
    
}

@media only screen and (max-width: 600px) {
    .four {
        
            display: flex ;
            flex-direction: column;
            align-self: center;
        
    }
  }
