.service{
    height:10vw;
    width:13vw;
    border: .8px;
    border-color: rgb(177, 190, 202);
    border-style: solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    align-items: center;
    justify-content:space-around;
    font-weight: bold;
    
}
.user {
    height:3rem;
    width: 3rem;
    
}
.service .text{
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .service {
      width:40vw;
      height: 30vh;
  }
  }
