.services{
   
    text-align: center;
    font-family: 'Roboto', sans-serif;    
    font-size: 1.1rem;
    
    height: auto;
    width: 80vw;
    margin: auto;
    margin-top: 5vh;
    font-family: 'Source Serif Pro', serif;

    

}
.services .title {
    font-size: 3rem;
    color:grey;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.office {
    width:50%;
}
@media only screen and (max-width: 600px) {
    .four {
        
            display: flex;
            flex-direction: column;
}
   .column{
       display: flex;
       flex-direction: row;
       width: fit-content;
       justify-content: space-evenly;
   }
   .services{
       width: 100%
   }
  }
